@media (max-width:580px)
{
		.media-style 
	{
		padding-left: 3.8rem!important;

	}
}
@media only screen and (max-width: 600px) {
    .w-75{
      width : 100% !important;
  
  }
  .main-style{
      left : 0;
  }
  }